#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#intro-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 80%;
  width: 80%;
  background-color: #f0f0f0;
  border: black 1px solid;
  border-radius: 10px;
}

#intro h1 {
  font-size: 40px;
}

#intro h2 {
  font-size: 35px;
}

#img-container img {
  height: 80%;
  width: 80%;
  border-radius: 10px;
}

@keyframes changeColor {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: yellow;
  }
  100% {
    color: red;
  }
}

#intro strong {
  animation: changeColor 20s infinite;
}