.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 25%;
}

.project-card img {
  width: 80%;
  height: 80%;
}

.project-card h3 {
  font-size: 30px;
}

.project-card ul {
  font-size: 20px;
  margin-bottom: 10px;
}