.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 25%;
}

.project-card img {
  width: 150%;
  height: 150%;
  border-radius: 30px;
}

.project-card h3 {
  font-size: 30px;
}

.project-card ul {
  font-size: 20px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.project-card li {
  margin-top: 10px;
}

.project-card button {
  font-size: 17px;
  color: white;
  background-color: rgb(84,40,90);
  border-radius: 20px;
  width: 140px;
  height: 40px;
  border: none;
}

.project-card button:hover {
  transition: background-color .9s;
  background-color: rgb(145, 79, 154);
}